@import "Variables";

$topMenuHeight: 50px;

.top-menu, .top-menu-second-row {
  background-color: white;
  color: $primary;
  height: $topMenuHeight;

  .MuiToolbar-regular {
    height: $topMenuHeight;
    min-height: $topMenuHeight;
    max-width: $maxContentWidth;
    margin: 0 auto;
  }

  .MuiToolbar-gutters {
    padding-right: 16px;
    padding-left: 16px;
  }

  #top-menu-left {
    padding-right: 32px;
  }

  #top-menu-middle {
    flex-grow: 1;

    .top-menu-search {
      max-width: 50%;
    }
  }
}

.top-menu-second-row {
  height: 44px;
}

.search-category-select-menu {
  .MuiPaper-root {
    top:46px !important;
    .MuiList-root {
      padding: 0;
    }
  }
}

.search-category-select-menu-second-row {
  .MuiPaper-root {
    top:90px !important;
    .MuiList-root {
      padding: 0;
    }
  }
}

.top-menu-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  padding-left: 16px;

  .MuiInput-underline {
    &:hover {
      &:not(.Mui-disabled) {
        &:before {
          border-width: 0;
        }
      }
    }
  }

  .MuiInputBase-root {
    height: 1.8rem;
    background-color: $secondary;

    &:before {
      border-width: 0;
    }

    &:after {
      border-width: 0;
    }

    .MuiSelect-root {
      padding-left: 8px;
      padding-right: 32px;
    }
  }

  .search-select {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right-width: 0;
  }

  .MuiSelect-select:focus {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right-width: 0;
  }

  .MuiIconButton-root {
    background-color: $primary;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    height: 1.8rem;
    padding: 0 0.5rem 0;
  }

  .search-text-input {
    flex-grow: 1;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    background-color: $secondary;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
  }
}

.top-menu-right {
  height: inherit;
  .MuiIconButton-root {
    height: $topMenuHeight;
    width: $topMenuHeight;
  }

  .MuiButton-outlined {
    font-size: 0.5rem;
    padding: 3px 5px;
  }
}

.top-menu-list {
  z-index: 2;

  .MuiListItem-gutters {
    padding-left: 8px;
    padding-right: 8px;
  }

  .MuiMenuItem-root {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .MuiList-root {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.top-menu-drawer {
  width: auto;
  .top-menu-drawer-first-row {
    padding-left: 16px;
    padding-right: 16px;
      height: $topMenuHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .MuiIconButton-root{
      max-height: $topMenuHeight;
    }
  }
}