@import "Variables";


.empty-photo-preview {
  background-color: $secondary-shadow;
  margin: 2px 40px;
  height: 300px;

  img {
    max-height: 300px;
    height: auto;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.87);
  }
}

.input-label, .input-label.MuiInputLabel-root {
    text-align: left;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.condition-input {
  .condition-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .condition-stars {
      width: 50%;
      padding: 0 8px;
    }
    .condition-hint {
      padding: 0 8px;
      width: 50%;
    }
  }
}

.offer-photos-edit-component {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px $primary-light dashed;
  padding: 4px;

  .offer-single-photo-edit-component {
    height: 120px;
    width: 92px;
    margin: 4px;


    .photo-edit-preview {
      background-color: $secondary;
      border: 1px lightgray solid;
      height: 100%;
    }

    .MuiSvgIcon-root {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

.label-error {
  color: $validationErrorColor;
  font-size: 16px;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 350px;
  margin: auto;

  form {
    padding: 8px;
  }
}