@import "Variables";

.empty-photo-preview {
  background-color: $secondary-shadow;
  margin: 2px 40px;
  height: 300px;

  img {
    max-height: 300px;
    height: auto;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.87);
  }
}

.input-label, .input-label.MuiInputLabel-root {
    text-align: left;
    font-size: $defaultFontSize;
    color: rgba(0, 0, 0, 0.54);
}


.condition-box {
  display: flex;
  justify-content: center;
  align-items: center;
  .condition-stars {
    width: 50%;
    padding-left: 8px;
    justify-content: center;
  }

  .MuiRating-root {
    font-size: 1.4rem;
  }
  .condition-hint {
    padding-left: $defaultFontSize;
    width: 50%;
    text-align: left;
  }
}


.offer-photos-edit-component {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px $primary-light dashed;
  padding: 4px;

  .offer-single-photo-edit-component {
    height: 120px;
    width: 92px;
    margin: 4px;


    .photo-edit-preview {
      background-color: $secondary;
      border: 1px lightgray solid;
      height: 100%;
    }

    .MuiSvgIcon-root {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

.label-error {
  color: $validationErrorColor;
  font-size: $defaultFontSize;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: $formMaxWidth;
  margin: auto;

  form {
    padding: 8px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    padding-top: 8px;
    font-weight: 500;
  }

  .MuiFormControlLabel-root {
    display: flex;
    max-width: $formMaxWidth;
  }

  .MuiCheckbox-root {
    .MuiSvgIcon-root {
      font-size: $checkboxSize;
      color: $primary;
    }
  }

  .MuiInputLabel-root, .MuiFormControlLabel-label {
    font-size: $defaultFontSize;
  }

  .MuiFormControl-fullWidth, .MuiFormControlLabel-root, .MuiFormHelperText-root {
    max-width: $inputMaxWidth;
    margin-left: auto;
    margin-right: auto;
  }

}


.MuiAutocomplete-paper {
  .MuiAutocomplete-option, .MuiAutocomplete-loading, .MuiAutocomplete-noOptions {
    font-size: $defaultFontSize;
  }
}

.rating-stars {
  margin: 0 8px;
}