@import "Variables";

.photoPreview {
  background-color: $secondary;
  height: 35vh;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 350px;
  margin: auto;
  form {
    padding: 8px 16px;
  }
}