
#app-content-container {
  .MuiGrid-item {
    margin-bottom: 16px;
    padding: 0 4px;
    max-width: 250px;
  }
}

.offer-card {
  align-self: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-height: 200px;
  height: 100%;

  .MuiCardHeader-root {
    padding: 4px 8px;
  }

  .MuiCardActions-root {
    padding: 0 8px;
  }

  .MuiTypography-h5 {
    font-size: 16px;
    font-weight: 500;
  }

  .MuiCardHeader-subheader {
    font-size: 14px;
  }

  .MuiButton-textSizeSmall {
    font-size: 14px;
  }

  .offer-card-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 300px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}




