@import "Variables";

.offer-view {

  .MuiContainer-root {
    padding: 0;
  }

  .empty-photo-preview {
    max-width: 300px;
    margin: auto auto 8px;
  }

  img {
    max-width: 300px;
    height: auto;
    border: 1px lightgray solid;
  }

  .photos-preview {
    height: 35vh;
    min-height: 200px;
    max-height: 350px;
    .background-img {
      background-size: cover;
    }
    .double-photo {
      height: inherit;
    }
  }

  .MuiCardActions-root {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .offer-card-details {
    margin: auto;
    text-align: left;

    label {
      display: block;
      color: gray;
      font-weight: 400;
    }

    .warning-strip{
      width: 100%;
    }

    .primary-text {
      font-size:20px;
      font-weight: 500;
      padding: 8px;
    }

    .secondary-text {
      font-size:18px;
      font-weight: 400;
      padding: 8px;
    }

    .other-text {
      font-size:16px;
      font-weight: 400;
      padding: 8px;
    }

  }

  .user-details {
    margin: 8px 0;

  }
}