@import "Variables";

.offer-view {

  .MuiContainer-root {
    padding: 0;
  }

  .empty-photo-preview {
    max-width: 300px;
    margin: auto auto 8px;
  }

  .photos-preview {
    height: 40vh;
    min-height: 200px;
    max-height: 350px;
    justify-content: flex-end;
    @media (max-width: 969px) {
      justify-content: center;
    }
    @media (max-width: 599px) {
      height: 35vh;
    }
    .MuiGrid-item {
      max-width: 250px;
    }
    .background-img {
      background-size: cover;
      cursor: pointer;
    }
    .double-photo {
      height: inherit;
    }
  }

  .MuiBackdrop-root{
    background-color: rgba(0, 0, 0, 0.8);
    .fullscreen-photo {
      height: 60vh;
      width: 60vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      @media (max-width: 959px) {
        height: 80vh;
        width: 80vw;
      }

      .background-img {
        height: 100%;
        width: 100%;
        background-size: contain;
        border:none;
      }
    }
  }

  .MuiCardActions-root {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .offer-card-details {
    margin: auto;
    position: relative;

    .warning-strip{
      width: 100%;
    }
  }

  .user-details {
    margin: 0 0 8px 0;

  }

  .offer-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}