@import "Variables";

.user-info-card {
  position: relative;
  margin-bottom: 8px;
}

.user-info-banner {
  padding: 8px;
  display: flex;
  position: relative;
  text-align: left;

  .MuiAvatar-root {
    margin: 0 8px;
  }
}

.user-info-rating {
  font-size: 14px;
  margin: 0 4px;

  .user-rating-label {
    .user-rating-average {
      font-weight: 500;
      font-size: 14px;
    }

    .user-rating-count {
      font-size: 10px;
    }
  }
}

.user-preferences-details {
  text-align: left;
  padding-left: 16px;
}
