$primary: #a83e77;
$primary-light: #dc6ea6;
$primary-transparent: rgba(149, 117, 205, 0.2);
$success-transparent: rgba(76, 175, 80, 0.5);
$danger-transparent: rgba(244, 67, 54, 0.6);
$primary-shadow: #76024b;
$secondary: #f0f2f4;
$secondary-shadow: #dcdee0;

$maxContentWidth: 1280px;

$photoErrorColor: #b71c1c;
$validationErrorColor: #f44336;

$formMaxWidth: 350px;
$inputMaxWidth: 250px;
$checkboxSize: 24px;
$defaultFontSize: 16px;