$primary: #9575cd;
$primary-light: #c7a4ff;
$primary-shadow: #65499c;
$secondary: #f0f2f4;
$secondary-shadow: #dcdee0;

$maxContentWidth: 1280px;

$photoErrorColor: #b71c1c;
$validationErrorColor: #f44336;