@import "styles/AppBar";
@import "styles/Variables";
@import "styles/OfferCards";
@import "styles/OfferForm";

.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: $secondary;
  min-height: 100vh;

  .MuiButton-containedPrimary {
    background-color: $primary;
  }

}

button.MuiButton-contained {
  margin: 0.2rem;
}

button.MuiButton-outlined {
  margin: 0.1rem;
}

#app-content-container {
  padding: 16px 8px;
}
