$primary: #563d7c;
$primary-shadow: #453163;

.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ebedee;
  min-height: 100vh;
}

.top-menu {
  width: 80%;
  margin: auto;
  .top-menu-title {
    flex-grow: 1;
  }
}

.MuiCard-root {
  padding-bottom: 1rem;
}

.quick-action-btns {
  button {
    margin: 0.1rem
  }
}

