$primary: #563d7c;
$primary-shadow: #453163;

.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ebedee;
  min-height: 100vh;
}

.top-menu {
  width: 100%;

  .top-menu-title {
    flex-grow: 1;
  }
}

button.MuiButton-contained {
    margin: 0.2rem
}

button.MuiButton-outlined {
  margin: 0.1rem
}


.photoPreview {
  background-color: #f5f5f5;
  height: 30vh;
}



.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}




